<form (ngSubmit)="addTreatHandler()" >
  <div class="form-group">
    <input
      name="title"
      type="text"
      [(ngModel)]="title"
      placeholder="Treat Title"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="calories"
      type="number"
      [(ngModel)]="calories"
      placeholder="Number of Calories"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="brand"
      type="text"
      [(ngModel)]="brand"
      placeholder="Treat Brand"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="type"
      type="text"
      [(ngModel)]="type"
      placeholder="Treat Type"
      required
    />
  </div>
  <button class="button-primary" [disabled]="!title || calories <= 0 || !brand || !type">Add Treat</button>
  <button class="button-clear" type="button" (click)="resetFormHandler()">Reset</button>
</form>
